/**************
Main color
Dark Brown :    #661721
Light Brown :   #7A4B44
Green:          #56A687
Light Blue:     #0000F8  Soft Blue: #87CEEB
Yellow :        #EEEE22
 */


html {
    height: 100%;
}

footer {
    background-color:  #87CEEB;
    border: 3px #eeee22;
    opacity: .8;
    padding-top: 1em;
    padding-bottom: .5em;
    margin-top: .5em;
    height: 120px;
    line-height: 1.6;
    flex-shrink: 0;
}

body {
    font-size: 100%;
    margin: auto auto 100px;
    width: 1000px;
    padding: 0;
    background-attachment: fixed;
    background-color: #fffff3;

}
/*************************
use for stivky footer
**************************/
body {
    display: flex;
    flex-direction: column;
}
main {
    flex:1 0 auto; /* --Shortcut for flex-grow, flex-shrink, flex-basic*/
}

form {
    width: 800px;
}
.displayHalfForm {
    width: 50%;
}
.radio {
    margin-right: 10px;
}
/*********************
Footer
*********************/
footer {
    background-color:  #9de9fc;
    opacity: .8;
    padding-top: 1em;
    padding-bottom: .5em;
    margin-top: .5em;
    height: 120px;
    line-height: 1.6;
    flex-shrink: 0;
}

footer p {
    margin: 0 1em;
    padding-top: .2em;
}

.ftCopyLeft {
    margin: 0 1em;
    padding-top: .2em;
    float: left;
}
.ftCopyRight {
    margin: 0 1em;
    padding-top: .2em;
    text-align: right;
}

.loginLink {
    float: right;
    margin-top: 0px;
}
nav {
    background-color:  #9de9fc;
    padding: 10px;
    padding-top: 40px;
    margin-bottom: 30px;
    border-radius: 0px 0px 5px 5px;
    margin-left: 0;
    font-family: 'Gothic A1', sans-serif;

}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: 'Gothic A1', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

nav ul li {
    position: relative;
    padding: 1em;
    font-family: 'Gothic A1', sans-serif;
    line-height: 1.6;
}

nav ul li:hover {
    background-color: #EEEE22;
    opacity: 1;
    color: #0000F8;
}

nav ul li a {
    color: black;
    /*font-style: quicksand;*/
    font-size: 18px;
    text-decoration: none;
    padding: 1em;
    width: 200px;
    font-family: 'Gothic A1', sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;
}
nav ul li a:hover {
    color: black;
    font-weight: bold;
    background-color: #EEEE22;
    opacity: 1;
}

/*****************
 Sub-navigation
*****************/

nav ul ul{
    position: absolute;
    left: 0;
    margin-top: 1em;
    display: none;
    font-family: 'Gothic A1', sans-serif;
    background-color: #dfedd6;
}

nav ul li ul:hover,
nav ul li:hover ul,
nav ul li:focus-within ul {
    display: block;
    font-family: 'Gothic A1', sans-serif;
    min-width: 300px;
    font-weight: bold;
}

/*************************************
	Skip link
*************************************/
/*Do not use display:none; because screenreader can not read it*/
.skipLink {
    background-color: #dfedd6;
    position: absolute;
    left: -1000px;
}
.skipLink:focus {
    background-color: #dfedd6;
    left: 0;
}
.skipLink:hover {
    background-color: #dfedd6;
    color: red;
    left: 0;
}


/*************
  Background
*************/

#background {
    padding: 3em;
}
.background2, .background1 {
    border: 3px solid #EEEE22;
    background-color: #ffffce;
    opacity: .8;
    margin: 0 auto;
    padding: 2em;
    z-index: -9999;
}
/******************
*Table
 */
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #9de9fc;
    color: black;
}

table.login th {
    width: 200px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7272f2;
    color: white;
    max-width: 500px;
    margin: auto;
}
/***********************************
    Sticky Footer
    http://css-tricks.com/snippets/css/a-guide-to-flexbox
**********************************/
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto; /* flex-grow, flex-shrink, flex-bais */
}

footer {
    flex-shrink: 0;
}

/*****************
******************/
h2 {
    float: left;
}
/*************************
Add button
**************************/
.addButton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: right;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #7272f2;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 50px;
    float: right;
}
.button:hover {background-color: #9a9af2}

.descriptionInput  {
    witdth: 400px;
    hight: 50px;
}
/*******************************
Pictures
********************************/
#logo {
    width: 10%;
    height: auto;
    float: left;
    margin: 0 0 0 0;
}
background1 backgroundInfo img#kid5 {
    width: 750px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}